<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>179376883829-u2tovatfqr4gsms8v5ghpipakmmejctp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179376883829-u2tovatfqr4gsms8v5ghpipakmmejctp</string>
	<key>API_KEY</key>
	<string>AIzaSyBFc0O7h1mFz78HtjUPGNlxWVpOmNBALz4</string>
	<key>GCM_SENDER_ID</key>
	<string>179376883829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chatapp.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-b144d</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-b144d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179376883829:ios:a91340134cd41f357a903c</string>
</dict>
</plist>